<div class="py-2 px-0 bg-absolute flex items-center left-0 right-0 z-30">
    <ul class="ml-auto flex items-center">
        <div class="flex items-center">
            <div class="text-left mr-4">
                <div class="text-gray-800 font-regular text-base">
                    @HttpContextAccessor.HttpContext.Session.GetString("UserName")
                </div>
            </div>
            @{
                var profilePicUrl = HttpContextAccessor.HttpContext.Session.GetString("ProfilePictureUrl");
                var firstName = HttpContextAccessor.HttpContext.Session.GetString("FirstName");
                var lastName = HttpContextAccessor.HttpContext.Session.GetString("LastName");
            }

            @if (!string.IsNullOrEmpty(profilePicUrl))
            {
                <img src="@profilePicUrl" alt="Profile" class="w-10 h-10 rounded-md object-cover" />
            }
            else
            {
                <div class="w-10 h-10 rounded-md overflow-hidden">
                    <img src="@AvatarHelper.GetInitialAvatar(firstName, lastName)" 
                         alt="Profile" 
                         class="w-full h-full object-cover" />
                </div>
            }
        </div>
    </ul>
</div>
