@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/lightmode.css" />
<div class="sidebar">
    <div class="logo">
        <img id="logo-img" alt="Logo" />
    </div>
    <ul class="sidebar-menu">

        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Tickets" ? "active" : "")">
            <a asp-controller="User" asp-action="Tickets">
                <i class="fa-solid fa-ticket sidebar-icon"></i> <!-- Added class here -->
                <span>Tickets</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "UserSettings" ? "active" : "")">
            <a asp-controller="User" asp-action="UserSettings">
                <i class="fa-solid fa-gear sidebar-icon"></i> <!-- Added class here -->
                <span>Settings</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Articles" ? "active" : "")">
            <a asp-controller="User" asp-action="Articles">
                <i class="fa-regular fa-newspaper"></i><!-- Added class here -->
                <span>Articles</span>
            </a>
        </li>


    </ul>

    <div class="user-details">
        <div class="signout">
            <a id="logoutButton" asp-action="SignOutAdmin" asp-controller="Account">
                <i class="fas fa-sign-out-alt sidebar-icon"></i> <!-- Added class here admin
                <i class="fas fa-sign-out-alt sidebar-icon"></i> <!-- Added class here -->
                <span>Logout @*@HttpContextAccessor.HttpContext.Session.GetString("UserName")*@</span>
            </a>
        </div>
    </div>
    @*
    <div class="signout">
    <a asp-action="Login" asp-controller="Account">
    <i class="fas fa-sign-out-alt sidebar-icon"></i> <!-- Added class here -->
    <span>Logout, @HttpContextAccessor.HttpContext.Session.GetString("UserName")</span>
    </a>
    </div>*@
</div>
<script>
    document.getElementById("logoutButton").addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the default action
        // Hide the sidebar
        document.querySelector(".sidebar").style.display = "none";

        // Redirect to the login page after a brief delay (optional)
        setTimeout(function () {
            window.location.href = "/Account/Login"; // Adjust the URL as needed
        }, 200); // Delay in milliseconds
    });
</script>
