@*<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
@{
    ViewData["Title"] = "Admin Settings Page";
}
<div class="py-2 px-0 bg-absolute flex items-center sticky top-0 left-0 right-0 z-30">
    <ul class="flex items-center text-sm m-0">
        <li class="mr-2">
            <a href="#" class="text-2xl font-semibold mb-1 hover:text-gray-600 font-bold" style="color: #161571;">A C C O U N T & S E T T I N G S</a>
        </li>
    </ul>
    <ul class="ml-auto flex items-center">
        <button type="button" class="dropdown-toggle text-gray-400 w-8 h-8 rounded flex items-center justify-center hover:bg-gray-50 hover:text-gray-600 mr-4">
            <i class="ri-notification-3-line"></i>
        </button>
        <div class="flex items-center">
            <div class="text-left mr-1">
                <div class="text-gray-800 font-regular text-xs">admin admin</div>
            </div>
            <img src="https://placehold.co/32x32" alt="Profile" class="w-10 h-10 rounded-md object-cover" />
        </div>
    </ul>
</div>
@{
    ViewData["Title"] = "Admin Settings Page";
}

<link rel="stylesheet" href="~/css/settings.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<body>
    <div class="settings-header d-flex justify-content-between align-items-center py-3">
        <h1 class="header-title">S E T T I N G S  &  P R E F E R E N C E S</h1>
        <div class="header-icons d-flex">
            <div class="icon-item d-flex align-items-center me-3">
                <i class="fas fa-bell"></i>
                <span>Notification</span>
            </div>
            <div class="icon-item d-flex align-items-center">
                <i class="fas fa-user-circle"></i>
                <span>Profile</span>
            </div>
        </div>
    </div>

    <section class="account-settings">
        <h2>Account Settings</h2>
        <div class="account-info">
            <div class="profile-picture">
                <img src="~/img/avatar.png" alt="Profile Picture">
            </div>
            <form method="post">
                <div class="row mb-3">
                    <div class="col-md-6 form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 form-group">
                        <label for="contactNo">Contact No.</label>
                        <input type="text" id="contactNo" name="contactNo" class="form-control" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" />
                    </div>
                </div>
            </form>

        </div>
    </section>

    <section class="account-preferences">
        <h2>Account Preferences</h2>
        <div class="preference-row">
            <label>Notifications</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="notificationsSwitch">
            </div>
        </div>
        <div class="preference-row">
            <label>Switch to Darkmode</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="darkmodeSwitch">
            </div>
        </div>
        <button type="button" class="save-button">Save Changes</button>
    </section>
</body>
*@