
:root {
    --white-color: #ffffff;
    --darviolet-color: #161571;
    --violet-color: #cad7fda4;
    --grey-color: #ededed;
    --text-color: #161571;
    --blue-color: #5b78fb;
}

body {
    background-color: var(--violet-color);
    max-width: 100%;
    overflow-x: hidden;
}
/*-----------SIDEBAR REGION---------------*/
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    z-index: 1;
    transition: background-color 0.4s ease;
    transition: width 0.3s ease;
    justify-content: space-between;
}
.logo img {
    width: 200px;
    height: auto;
}

.sidebar-icon {
    margin-right: 10px;
    font-size: 17px;
    color: #161571;
}
.sidebar-menu li a {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5px 10px;
    color: var(--text-color);
    text-decoration: none;
    width: auto;
    height: 45px;
    margin: 10px 10px;
    font-weight: 500;
    border-radius: 3px;
    border-left: 10px solid #fff;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.sidebar-menu li a:hover,
.sidebar-menu li a.active {
    border-left: 10px solid var(--violet-color);
    color: var(--blue-color);
}
.sidebar-menu li a:hover .sidebar-icon {
    color: var(--blue-color); 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); 
}
.sidebar-menu li.active a {
    background-color: #D1D7FF;
    border-left: 10px solid var(--blue-color);
    color: var(--darviolet-color);
    font-weight: 600;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.sidebar-menu li.active a:hover {
    background-color: #D1D7FF;
    border-left: 10px solid var(--blue-color);
    color: var(--blue-color);
    font-weight: 600;
}
.sidebar-submenu {
    list-style: none;
    margin-left: 35px;
    display: none;
    border-left: 2px solid var(--grey-color);
}

.sidebar-submenu li a {
    font-size: 12px;
    height: 30px;
    text-decoration: none;
    display: block;
    
}

.sidebar-submenu:hover {
    color: green;
}

.sidebar-submenu .sidebar-icon {
    font-size: 10px;
}
.rotate-arrow {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.dropdown-arrow {
    margin-left: 50px;
    font-size: 15px;
    transition: transform 0.3s ease;
}

.sidebar .signout {
    width: 250px;
    padding: 10px;
    text-align: start;
    margin-top: auto;
    color: #161571;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;

}
.signout {
    width: 100%;
    margin-bottom: 10px;
    
}
.signout a {
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-decoration: none;
    height: 45px;
    font-weight: 500;
    border-radius: 3px;
    border-left: 10px solid var(--white-color);
    width: auto;
    color: var(--darkviolet-color);
}

.signout a:hover {
    color: red;
    border-left: 10px solid red;
}
.signout a:hover .sidebar-icon {
    color: red;
}
.signout i {
    margin-right: 10px;
}

/*---------------SIDEBAR ENDREGION--------------*/