
:root {
    --white-color: #ffffff;
    --darviolet-color: #161571;
    --violet-color: #cad7fda4;
    --grey-color: #ededed;
    --text-color: #161571;
    --blue-color: #5b78fb;
}

body {
    background-color: var(--violet-color);
    max-width: 100%;
    /*overflow-x: hidden;*/
}

/*-----------SIDEBAR REGION---------------*/
.sidebar {
    width: 230px;
    height: 100vh;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    z-index: 1;
    transition: background-color 0.4s ease;
    transition: width 0.3s ease;
    justify-content: space-between;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0;
}

    .sidebar-menu li {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }

.logo {
    border-bottom: 1px solid var(--blue-color);
    background: linear-gradient(to top, var(--white-color) 1%, var(--white-color) 100%);
}

    .logo img {
        width: 200px;
        height: 180px;
        margin-bottom: 40px;
    }

.sidebar-icon {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 15px;
    color: #161571;
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px 10px;
    color: var(--text-color);
    text-decoration: none;
    width: 210px;
    height: 45px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    border-left: 8px solid var(--white-color);
    font-weight: 500;
    font-size: 16px;
}

    .sidebar-menu li a:hover,
    .sidebar-menu li a.active {
        border-left: 8px solid var(--violet-color);
        color: var(--blue-color);
    }

        .sidebar-menu li a:hover .sidebar-icon {
            color: var(--blue-color);
        }

.sidebar-menu li.active a {
    background-color: #D1D7FF;
    border-left: 8px solid var(--blue-color);
    color: var(--darviolet-color);
    font-weight: 600;
}

    .sidebar-menu li.active a:hover {
        background-color: #D1D7FF;
        border-left: 8px solid var(--blue-color);
    }

.sidebar-submenu {
    list-style: none;
    display: none;
    border-left: 2px solid var(--grey-color);
    background-color: none;
    color: none;
}

    .sidebar-submenu li a {
        font-size: 11px;
        height: 25px;
        text-decoration: none;
        display: block;
    }

    .sidebar-submenu:hover {
        color: green;
    }

    .sidebar-submenu .sidebar-icon {
        font-size: 10px;
    }

.signout {
    width: 210px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 45px;
    font-weight: 500;
    position: relative;
}



    .signout a {
        display: flex;
        align-items: center;
        align-content: center;
        padding: 10px 10px;
        color: var(--text-color);
        text-decoration: none;
        width: 210px;
        height: 45px;
        border-radius: 3px;
        border-left: 8px solid var(--white-color);
        font-weight: 500;
        font-size: 16px;
    }

.sidebar .signout a:hover {
    color: red;
    border-left: 8px solid red;
}

.signout a:hover .sidebar-icon {
    color: red;
}
/*---------------SIDEBAR ENDREGION--------------*/
/*--------------Tickets-----------------*/

/*USER VIEW*/

/*---------------Tickets end------------*/
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7E8EF1;
    margin-right: 15px;
}

.icon-container i,
.icon-container svg {
    color: black; 
    font-size: 18px; 
}
.bold-text {
    font-weight: bold !important;
}
.card-content {
    margin-top: 30px;
    background-color: white;
    border: 1px solid #D1D7FF;
    border-radius:10px;
    padding: 16px;
}
/*SETTINGS*/
.dashboard-text {
    color: var(--darkviolet-color);
}

.my-tickets-text {
    color: #000000;
}
.flex-center {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    gap: 8px; 
}

.profile-img {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
}
.flex.flex-col label {
    color: #161571;
}
.text-primary {
    color: #161571;
}
.custom-form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px; 
}

.custom-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.custom-form-group {
    display: flex;
    flex-direction: column;
}

    .custom-form-group label {
        margin-bottom: 5px;
    }

.custom-form-control {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px !important; 
}
.bg-gray-50 {
    background-color: #D1D7FF;
}
.custom-form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
}


.custom-form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.custom-form-control {
    height: 40px; 
    width: 300px; 
    padding: 4px 8px; 
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.custom-form-control:focus {
    border-color: #5513EE; 
    outline: none; 
}

   